Bonjour {{ firstname }} {{ lastname }},


---
Si vous recevez ce message et que vous utilisez encore le VPN de Neutrinet associé à cette IP {{ ipv4 }} contactez-nous rapidement !
---


Il y a {{ delta_day }} jours, votre certificat de connexion au VPN de Neutrinet a expiré. Cela veut dire que ça fait au moins depuis ce temps que votre Brique Internet n'est plus connectée (ou que vous n'utilisez plus le VPN de Neutrinet sur votre ordinateur, serveur…).

À chaque Brique, Neutrinet associe une adresse IPv4 unique, ce qui permet de bénéficier d'une IP fixe et de pouvoir se connecter à sa Brique depuis partout. Or, vous le savez peut-être, les adresses IPv4 sont rares…

C'est pourquoi, si vous n'utilisez plus vos IP, nous aimerions pouvoir optimiser leur assignation et les attribuer à d'autres personnes et à leurs Briques aux soudures encore fraiches (les veinardes).

Si nous recyclons votre IP, tout n'est toutefois pas perdu, ce n'est, en fait, pas très grave… On pourra vous en attribuer une nouvelle dès que vous en aurez besoin (par exemple après de bons soins et un cocktail de vitamines donnés à vos Briques en install party — on dit ça, on dit rien…).


---
Voici les informations que nous avons concernant ce certificat :
    IPV4 : {{ ipv4 }}
{%- if ipv6 %}
    IPV6 : {{ ipv6 }}
{%- endif %}

Si vous souhaitez garder votre IP, n'hésitez pas à nous répondre et nous vous la garderons. Ne tardez pas alors à nous contacter ou à venir lors d'une de nos install party pour ressusciter votre Brique (alléluia !).
---


Nous allons progressivement récupérer les IP non utilisées, en partant des plus anciennes, à partir de la semaine prochaine.

Que ce soit maintenant, ou plus tard, n'hésitez pas à nous répondre ou venir nous voir, on peut également recycler les Briques non utilisées ou discuter d'un verre autour de neutralité du net.


À bientôt !
Neutrinet

