Bonjour {{ firstname }} {{ lastname }},

Dans {{ delta_day }} jours, votre certificat de connexion au VPN de Neutrinet expirerera.
À ce moment-là, vous (ou votre Brique Internet) ne pourrez plus vous y connecter.

Pour résoudre ce souci, vous trouverez de la documentation sur cette page : https://wiki.neutrinet.be/fr/vpn/renew-cert
Vous pouvez y jeter un œil dès maintenant afin de ne subir aucune coupure.

Si vous utilisez Yunohost et avez l'application Neutrinet installée, vous ne devez rien faire : le certificat de connexion au VPN sera renouvelé automatiquement par l'application.

Si vous avez des difficultés, nous vous proposons de passer à l'une de nos rencontres du 3e dimanche du mois.
Vous pouvez également poser vos questions en répondant à ce message ou sur notre chat Mattermost (https://chat.neutrinet.be).

Afin d'optimiser l'assignation des IPv4, les adresses dont le certificat a expiré et n'a pas été renouvelé depuis 3 mois seront libérées pour les futurs membres.
Sans action de votre part, votre IP sera libérée le {{ remove_at.strftime("%d/%m/%Y") }}.

Voici les informations que nous avons concernant ce certificat :
    IPV4 : {{ ipv4 }}
{%- if ipv6 %}
    IPV6 : {{ ipv6 }}
{%- endif %}

Cordialement,
L'équipe de Neutrinet asbl

https://neutrinet.be
https://chat.neutrinet.be
https://wiki.neutrinet.be
https://neutrinet.be/fr/#install-party

======

Hello {{ firstname }} {{ lastname }},

In {{ delta_day }} days, your Neutrinet VPN certificate will expire.
At that time, you (or your Internet Cube) will no longer be connected to the VPN.

To solve this issue, you'll find some renewal instructions here: https://wiki.neutrinet.be/en/vpn/renew-cert
You can take a look at them right now to avoid any interruption.

If you are using Yunohost and have the Neutrinet application installed, you don't have to do anything: the VPN certificate will be renewed automatically by the app.

If you encounter any trouble, Neutrinet's meetings are held every 3rd Sunday of the month.
You can also ask us any question by replying to this email or on our Mattermost chat (https://chat.neutrinet.be).

To optimize IPv4 assignments, addresses with invalid certificate for more than 3 months will be released and might be distributed to new members.
Without any action on your part, your IP will be reassigned on {{ remove_at.strftime("%d/%m/%Y") }}.

We have the following information regarding this certificate:
    IPV4 : {{ ipv4 }}
{%- if ipv6 %}
    IPV6 : {{ ipv6 }}
{%- endif %}

Sincerely,
The Neutrinet asbl team

https://neutrinet.be
https://chat.neutrinet.be
https://wiki.neutrinet.be
https://neutrinet.be/en/#install-party
